---
import AuthLayout from "../layouts/AuthLayout.astro";
import RequestPasswordResetView from "../components/auth/RequestPasswordResetView";

const pageTitle = "Resetuj hasło";
---

<AuthLayout title={pageTitle}>
  <h1 class="text-2xl font-semibold tracking-tight text-center mb-6">{pageTitle}</h1>

  <RequestPasswordResetView client:idle />
</AuthLayout>
